@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: "Spectral", sans-serif;

  /* Use Spectral SC for all headings */
  --font-serif: "Spectral SC", serif;


}

:root {
  --ui-container: var(--container-3xl);
}

/* Apply Spectral SC to all headings */
h1, h2, h3, h4, h5, h6,
.font-serif {
  font-family: "Spectral SC", serif;
}
